
header
	min-height: 354px
	background:
		image: url('../images/fundo-menu.jpg')
		repeat: no-repeat
		position: top center
		size: cover
	border-bottom: solid 5px $mostarda	
	.contato-header
		margin-top: 40px
		text-align: right
		+breakpoint($tablet)
			+make-sm-column(12)
			text-align: center
			margin-top: 30px
			margin-bottom: 20px
		i
			color: $azul-escuro
			font-size: 18px
		a 
			color: $preto
			text-decoration: none
			padding-left: 10px	
			padding-right: 10px
			font-size: 17px
		+breakpoint($tablet)
			i,a 
				font-size: 28px
				margin-right: 50px
		+breakpoint($celular)
			a,i  
				display: none

				
	.logo
		+make-sm-column(4)
		img
			width: 300px	
			margin-top: -30px	
		+breakpoint($tablet)
			+make-sm-column(12)
			img
				+img-responsive
				margin: 0 auto
				width: 300px
		+breakpoint($celubot)
			img 
				margin-top: 20px		

	.menu 
		+make-sm-column(8)
		+breakpoint($tablet)
			display: none
		ul
			float: right
			margin-top: 40px
			white-space: nowrap
			li
				display: inline
				padding-top: 10px
				padding-bottom: 10px
				background-color: $azul-escuro
				+transition(.2s)
				&:hover
					background-color: $azul-claro
					border-bottom: solid 7px $mostarda
					opacity: 1
					padding-bottom: 10px
				a
					text-decoration: none
					font-size: 15px
					color: $branco 
					padding-top: 10px
					padding-right: 20px
					padding-left: 20px
					padding-bottom: 10px
					+transition(.2s)
					&:hover
						color: $mostarda				
			.contato 
				border-radius: 0 20px 0 0
			.menu-home
				border-radius: 0 0 0 20px				
	.chave-colombo
		h1 
			font-family: Dolphin
			color: $azul-escuro
			text-shadow: 2px 2px 1px $mostarda
			margin-top: 180px
			font-size: 50px
			+breakpoint($tablet)
				+make-sm-column(12)	
				font-size: 60px
				text-align: center
				margin-top: 10px	
				margin-bottom: 40px	
	.data 
		text-align: right
		margin-top: 0px
		i 
			color: $preto
			span 
				padding: 5px
				text-decoration: none
				color: $preto
				font-weight: bold
		+breakpoint($tablet)
			+make-sm-column(12)
			font-size: 20px
			text-align: center
			margin-top: 0px		
			margin-bottom: 20px
.toggle
	margin-top: 30px
	position: relative
	float: right
	text-decoration: none
	a 
		text-decoration: none
		display: none
		color: $preto
		font-size: 60px
		margin-top: -425px
		+transition(.2s)
		&:hover
			color: $azul-escuro
		+breakpoint($tablet)
			display: block
		+breakpoint($celubot)
			
		+breakpoint($celular)
			margin-top: -380px	
.menu-responsivo
	z-index: 99999
	position: fixed
	width: 100%
	height: 0
	left: 0
	top: -470px
	+transition(.2s)
	&.ativo 
		top: 0
	
	ul 
		margin-top: 0px
		margin-left: -50px
		list-style: none
		text-align: center
		background-color: $azul-claro
		li 
			a
				font-size: 40px
				padding: 10px
				display: block
				color: $branco
				border-bottom: solid 1px $branco
				+transition(.2s)
				&:hover,
				&:focus
					text-decoration: none
					background-color: $azul-escuro
					border-bottom: solid 1px $mostarda
					color: $mostarda

.layout
	+transition(.2s)
	&.ativo 
		padding-top: 470px
		

	